#contact-details {
    padding: 0.1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #e9edfd;
}

#contact-boxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.teamphoto {
    user-select: none; 
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.social-box {
    width: 200px;
    border-radius: 15px;
    padding: 20px;
    margin: 2vw 20px;
    cursor: pointer;
    transition: transform 500ms ease-out;
    color:white;
    text-decoration: none;
}

.social-box:hover {
    transform: scale(1.05);
}

.social-box .wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-box .wrap h3 {
    font-size: 17px;
    margin: 0;
}

.social-box .wrap img {
    height: 30px;
}

.social-box p {
    font-size: 15px;
    text-align: center;
    margin: 5% 0 0 0;
}

#ig {
    background: radial-gradient(circle at 30% 107%, #fd5949 25%,#d6249f 60%,#285AEB 90%);
}

.contact-form { 
    font-size: 20px;
}

textarea, input {
    font-family: "Rubik", sans-serif;
}

textarea {
    height: 100px; width: 200px;
}

.buttonlink {
    padding: 10px 20px;
    font-size: 15px;
}

.form-group {
  display: flex;
  margin: 0.5rem;
}

.form-group > label {
    width: 100px;
}

#about-content {
    padding: 1vw 4vw 1vw calc(19.4px + 2.5vw);
}

#omutree{
    width: 150px;
}

#about-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-description p{
    font-size: 20px;
}

.flex-container {
    background-color: #C8CFF4;
    padding: 2vw 4.25vw 2vw calc(19.4px + 2.75vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    background-color: #e9edfd;
    width: 240px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.flex-container > div > h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 6px;
}

.flex-container > div > p {
    text-align: center;
    margin-top: 0px;
}

.flex-container > div > img {
    width: 60%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 40px;
    margin: 3vw 0 30px 0;
}

@media screen and (orientation: portrait) {
    #contact-details {
        padding: 3vw 4.25vw 10vw 4.25vw;
    }
    
    #contact-boxes{
        margin-top: 5vw;
    }

    .social-box {
        width: 35vw;
        padding: 3vw;
        border-radius: 2vw;
    }

    .social-box .wrap h3 {
        font-size: 3vw;
    }

    .social-box .wrap img {
        height: 4vw;
    }

    .social-box p {
        font-size: 2.5vw;
    }

    #about-content {
        padding: 3vw 4.25vw 10vw 4.25vw;
    }

    #omutree{
        width: 40vw;
    }

    #about-content p{
        font-size: 4.5vw;
    }

    #omutree{
        text-align: center;
    }

    #omutree img{
        width: 50vw;
    }

    .flex-container{
        padding-left: 4.25vw;
    }

    .flex-container > div {
        background-color: #e9edfd;
        width: 66vw;
        margin: 3vw;
        border-radius: 2.4vw;
        padding: 5vw;
    }

    .flex-container > div > h2 {
        text-align: center;
        font-size: 7vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
    }

    .flex-container > div > p {
        text-align: center;
        font-size: 4.5vw;
        margin-top: 0px;
    }

    .flex-container > div > img {
        width: 60%;
        border-radius: 2.4vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        font-size: 8vw;
        margin: 3vw 0;
    }
}