#about-content {
    padding: 0 4.25vw 3vw 4.25vw;
}

#contacts {
    padding: 3vw 4.25vw;
}

.flex-container {
    margin: 0 4.25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    background-color: #d7dae5;
    width: 240px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.flex-container > div > h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 6px;
}

.flex-container > div > p {
    text-align: center;
    margin-top: 0px;
}

.flex-container > div > img {
    width: 60%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-box {
    width: 17vw;
    border-radius: 0.8vw;
    padding: 1.5vw;
    cursor: pointer;
    transition: transform 500ms ease-out;
    color:white;
    text-decoration: none;
}

.social-box:hover {
    transform: scale(1.05);
}

.social-box .wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-box .wrap h3 {
    font-size: 1.5vw;
    margin: 0;
}

.social-box .wrap img {
    height: 2vw;
}

.social-box p {
    font-size: 1.2vw;
    text-align: center;
    margin: 1.5vw 0 0 0;
}

#ig {
    background: radial-gradient(circle at 30% 107%, #fd5949 25%,#d6249f 60%,#285AEB 90%);
}

#about-description{
    display: inline-block;
}

@media screen and (orientation: portrait) {
    #about-content h1{
        font-size: calc(8vw);;
    }

    .social-box {
        width: 25vw;
        padding: 3vw;
    }

    .social-box .wrap h3 {
        font-size: 2.5vw;
        margin: 0;
    }

    .social-box .wrap img {
        height: 2.5vw;
    }

    .social-box p {
        font-size: 2vw;
    }

    #omutree{
        text-align: center;
    }

    #about-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}