.omugraph {
    height: 100%;
    width: auto;
    mask-image:
        linear-gradient(310deg, rgba(0,0,0,1), rgba(0,0,0,1) 35%, rgba(0,0,0,0) 85%, rgba(0,0,0,0)),
        linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0));
    mask-composite: subtract;
    mask-mode: alpha;
    transform: translateY(0);
    /* transition: transform 0.1s linear; */
    will-change: transform;
}

#parallax-container{
    text-align: right;
    position: absolute;
    right: 0;
    padding: 0;
    height: 425px;
    width: 100%;
    mask-image:
        linear-gradient(310deg, rgba(0,0,0,1), rgba(0,0,0,1) 35%, rgba(0,0,0,0) 85%, rgba(0,0,0,0)),
        linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0));
    mask-composite: subtract;
    mask-mode: alpha;
    transform: translateY(0);
    overflow: hidden;
    z-index: -1;
}

#header {
    width: 50%;
    padding-top: 3vw;
    padding-left: calc(19.4px + 2.5vw);
}

#header p {
    font-size: 19px;
    line-height: 1.5;   
    margin: 0 0 80px 0;
}

#header h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}

#register {
    background-color: #C8CFF4; 
    padding: 5vw 5vw 5vw calc(19.4px + 3.5vw);
}   

#register p{
    font-size: 19px;
}

#register .buttonlink{
    padding: 10px 20px;
    font-size: 15px;
}

#register .responsiveleft{
    margin: 0 40px;
    text-align: center;
}

#register .responsiveleft img{
    width: 140px;
}

/* hide disabled button */
.flickity-button:disabled {
    display: none;
}

.gallery{
    margin-top: 25px;
    transition: height 0.3s;
}

.gallery-container {
    background-color: #e9edfd;
    padding: 40px 0;
}

.gallery-container h1{
    padding: 0 3vw 0 calc(19.4px + 1.5vw);
    font-size: 40px;
}

.gallery-cell {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-cell .realcell {
    transition: margin 0.3s, transform 0.3s, background-color 0.3s;
    border-radius: 14px;
    padding: 25px;
    width: 70%;
    height: 70%;
    margin: 0 30px;
    background-color: #d7dae5;
    aspect-ratio: 1/1;
}

.gallery-cell .realcell h2{
    font-size: 30px;
}

.gallery-cell .realcell h4{
    font-weight: normal;
    color: #676772;
    margin: 0;
    font-size: 17px;
}

.gallery-cell.is-selected .realcell {
    transform: scale(1.15);
    background-color: #c8cff4;
}

.realcell p{
    font-size: 19px;
}

.gallery-cell .realcell .buttonlink{
    padding: 4% 8%;
    font-size: 17px;
}

@media screen and (orientation: portrait) {
    #parallax-container{
        height: 100%;
        width: 200%;
        mask-image: none;
        z-index: -1;
    }

    .omugraph {
        width: 100%;
        height: auto;
        margin: 0;
        mask-image:
            linear-gradient(270deg, rgba(0,0,0,0.7), rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 55%, rgba(0,0,0,0)),
            linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0));
        }

    #header {
        width: 95.75vw;
        padding-top: 3vw;
        padding-left: 4vw;
    }

    #header h1 {
        margin-top: 5vw;
        font-size: 9vw;
        font-weight: 500;
    }

    #header p {
        padding-right: 6%;
        font-size: 4.7vw;
        margin:0 0 10vw 0;
    }

    #register{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5vw;
    }

    #register p{
       font-size: 4vw;
       line-height: 1.5;
    }

    #register .buttonlink{
        padding: 3% 6%;
        font-size: 4vw;
    }

    #register .responsiveleft img{
        width: 30vw;
    }

    .gallery-container {
        padding: 10vw 0;
    }

    .gallery-container h1{
        padding: 0 0 10vw 5vw;
        font-size: 8vw;
    }

    .gallery-cell {
        width: 70vw;
        height: 70vw;
    }

    .gallery-cell .realcell {
        width: fit-content;
        margin: 7vw;
        height: fit-content;
        background-color: #d7dae5;
        border-radius: 2vw;
        padding: 4vw;
    }

    .gallery-cell .realcell h2{
        font-size: 5.5vw;
    }

    .gallery-cell .realcell h4{
        font-size: 3.4vw;
    }

    .gallery-cell .realcell p{
        font-size: 3.3vw;
        margin: 5% 0;
    }

    .gallery-cell .realcell .buttonlink{
        font-size: 2.7vw;
    }

    .gallery-cell.is-selected .realcell {
        transform: scale(1.25);
    }

}