#long-sidenav {
    position: relative;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 20%;
    transform: translateX(-100%);
    background-color: #d7dae5;
    position: fixed;
    height: 101vh;
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    z-index: 2;
}
  
#long-sidenav .sidenav-header{
    display: block;
    color: #000;
    padding: 5% 3%;
    text-decoration: none;
}

#long-sidenav .sidenav-header img {
    padding: 5% 3%;
}
  
#long-sidenav a {
    display: block;
    text-align: center;
    color: #000;
    padding: 4vh;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
}
   
#long-sidenav a.active {
    background-color: #646985;
    color: white;
}
  
#long-sidenav a:hover:not(.active) {
    background-color: #c8cff4;
}
  
#long-sidenav .sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
}

#omubridges {
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 4vh;
    margin-top: 5vw;
    border-radius: 0.8vw;
}
  
#short-sidenav {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 5%;
    background-color: #d7dae5;
    position: fixed;
    height: 101vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
  /* #short-sidenav img {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
  } */
  
#short-sidenav .sidenav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
    gap: 2vh;
}
  
#short-sidenav .sidenav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 1.5vw 0;
}
  
#short-sidenav .sidenav-links .socials {
    width: 80%;
}

#short-sidenav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

#hamburger{
    width: 55%;
}

#closeit{
    width: 15%;
}

.sitelogo {
    width: 70%;
}

.omuicon {
    width: 100%;
}

@media screen and (orientation: portrait) {
    #short-sidenav {
        height: 8vh;
        width: 100vw;
        flex-direction: row;
        align-items: center;
    }
  
    #short-sidenav .sidenav-header {
        flex-direction: row;
        padding: 0 3vw;
        gap: 3vw;
    }
  
    #short-sidenav .sidenav-links {
        flex-direction: row;
        padding: 0 3vw;
    }
  
    #long-sidenav {
        width: 100%;
        transform: translateY(-100%);
    }

    #long-sidenav a{
        font-size: 6vw;
        padding: 4vh;
    }

    #omubridges {
        border-radius: 4vw;
        bottom: 10%;
    }

    button{
        width: auto;
    }

    .omuicon {
        height: 4.5vh;
        width: auto;
    }

    .sitelogo {
        height: 12vw;
        width: auto;
    }

    #short-sidenav .sidenav-links .socials {
        height: 3.5vh;
        width: auto;
    }
}

@media screen and (orientation: portrait) and (max-height: 140vw) {
    #omubridges {
        display: none;
    }
}