#results {
    padding: 1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #ffffff;
}

h1{
    font-size: 40px;
    margin: 3vw 0 30px 0;
}

#content{
    font-size: 19px;
}

.icon {
    height: 1em;
    vertical-align: middle;
}

@media screen and (orientation: portrait) {
    h1{
        font-size: 8vw;
        margin: 3vw 0;
    }

    #content{
        font-size: 4.5vw;
    }

    #results {
        padding-left: 4vw;
    }

    #result-bottom {
        display: none;
    }
}