#syllabus-and-format {
    padding: 0.1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #C8CFF4;
}

#practice {
    padding: 1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #ffffff;
}

#faq {
    padding: 1vw 4vw 3vw calc(19.4px + 2.5vw);
    background-color: #e9edfd;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid rgb(67, 67, 67);
}

tr:hover {
    background-color: #d7dae5;
}

th, td {
    padding: 1.5vw 4vw;
    text-align: center;
}

td div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

td img {
    width: 1vw;
}

h1{
    font-size: 40px;
    margin: 3vw 0 30px 0;
}

#content{
    font-size: 19px;
}

@media screen and (orientation: portrait) {
    h1{
        font-size: 8vw;
        margin: 3vw 0;
    }

    #content{
        font-size: 4.5vw;
    }

    #syllabus-and-format {
        padding-left: 4vw;
    }

    #practice {
        padding-left: 4vw;
    }

    #faq {
        padding-left: 4vw;
    }

    td div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    td img {
        width: 4vw;
    }
}