#syllabus-and-format {
    padding: 0.1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #C8CFF4;
}

#practice {
    padding: 1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #ffffff;
}

#faq {
    padding: 1vw 4vw 3vw calc(19.4px + 2.5vw);
    background-color: #e9edfd;
}

.glink {
  color:hsl(228, 100%, 50%);
}

.glink:hover {
  text-decoration: solid underline 2px;
}

.glink:visited {
  color: hsl(300, 100%, 37.5%);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 2px solid rgb(67, 67, 67);
}

th {
    background-color: #5f7fff;
    color: white;
}

td:hover {
    background-color: #d6dfff;
}

th, td {
    padding: 1.5vw 4vw;
    text-align: center;
}

td div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

td img {
    width: 14px;
}

h1{
    font-size: 40px;
    margin: 3vw 0 30px 0;
}

#content{
    font-size: 19px;
}

.icon {
    height: 1em;
    vertical-align: middle;
}

@media screen and (orientation: portrait) {
    h1{
        font-size: 8vw;
        margin: 3vw 0;
    }

    #content{
        font-size: 4.5vw;
    }

    #syllabus-and-format {
        padding-left: 4vw;
    }

    #practice {
        padding-left: 4vw;
    }

    #faq {
        padding-left: 4vw;
    }

    td div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    td img {
        width: 4vw;
    }
}