#syllabus-and-format {
    padding: 0.1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #C8CFF4;
}

#practice {
    padding: 1vw 4vw 1vw calc(19.4px + 2.5vw);
    background-color: #ffffff;
}

#faq {
    padding: 1vw 4vw 3vw calc(19.4px + 2.5vw);
    background-color: #e9edfd;
}

table {
    border-collapse: collapse;
    width: 600px;
}

table, th, td {
    border: 2px solid;
}

tr:hover {
    background-color: #d7dae5;
}

th, td {
    padding: 5px;
}

h1{
    font-size: 40px;
    margin: 3vw 0 30px 0;
}

#content{
    font-size: 19px;
}

@media screen and (orientation: portrait) {
    h1{
        font-size: 8vw;
        margin: 3vw 0;
    }

    #content{
        font-size: 4.5vw;
    }

    #syllabus-and-format {
        padding-left: 4vw;
    }

    #practice {
        padding-left: 4vw;
    }

    #faq {
        padding-left: 4vw;
    }
}