#register-content {
    padding: 0.5vw 4.25vw;
    background-color: #ffffff; 
}

#logistics {
    padding: 0.5vw 4.25vw;
    background-color: #e9edfd;
}

#key-dates{
    padding: 0.5vw 4.25vw;
    background-color: #e9edfd; 
}

#on-the-day{
    padding: 0.5vw 4.25vw;
    background-color: #e9edfd; 
}

#other-events{
    padding: 0.5vw 4.25vw;
    background-color: #e9edfd; 
}

#faq{
    padding: 0.5vw 4.25vw 3vw 4.25vw;
    background-color: #c8cff4;
}


@media screen and (orientation: portrait) {
    #register-content h1{
        font-size: calc(1rem + 3vw);;
    }

    #register-content p{
        font-size: calc(5vw);;
    }
}