html {margin: 0; padding: 0;}
body {margin: 0; padding: 0;}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 450;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #d7dae5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li img {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  }

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
 
ul.sidenav li a.active {
  background-color: #646985;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #c8cff4;
}

div.content {
  margin-left: 20%;
  padding: 0px 0px;
  height: 1000px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sitelogo {
    height: 39px;
}

.timeline-time {
    font-weight: normal;
    color: #676772;
    margin: 0px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    width: 100%; /* Ensures the navbar spans the full width */
    z-index: 1000; /* Ensures the navbar appears above other content */
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }

  ul.sidenav li img {
    float: left;
    padding: 7px 30px 7px 20px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 500px) {
  ul.sidenav li img {
    margin: auto;
    float: none;
  }
  
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.gallery-container {
  background-color: #e9edfd;
  padding: 30px 0px;
}

.gallery-cell {
  width: 300px;
  height: 300px;
}

.realcell {
    transition:
    margin 0.3s, transform 0.3s, background-color 0.3s;
    border-radius: 10px;
    padding: 20px;
}

.gallery-cell .realcell {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: #d7dae5;
}

.gallery-cell.is-selected .realcell {
    transform: scale(1.25);
    background-color: #c8cff4;
}

.buttonlink {
  color: #2c343b;
  border: 2px solid #2c343b; 
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 1000px;
}

.buttonlink:hover, .buttonlink:active {
  background-color: #2c343b;
  color: white;
}

.section-transition {
  width: 100vw;
  margin-left: calc(100% - 100vw);
  margin-right: calc(100% - 100vw);
  margin-top: -2px;
  margin-bottom: -2px;
  overflow: hidden;
  user-select: none; 
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: block;
}

.omugraph {
  width: 70%;
  min-width: 800px;
  max-width: 2000px;
  mask-image:
    linear-gradient(310deg, rgba(0,0,0,1), rgba(0,0,0,1) 35%, rgba(0,0,0,0) 85%, rgba(0,0,0,0)),
    linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0));
  mask-composite: subtract;
  mask-mode: alpha;
  position: absolute;
  right: 0;
  z-index: -1;
}

mark.warning {
  color:#ff0000;
  background: none;
  font-weight: 500;
}

mark.question {
  background: none;
  font-weight: 550;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  background-color: #d7dae5;
  width: 240px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

.flex-container > div > h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 6px;
}

.flex-container > div > p {
  text-align: center;
  margin-top: 0px;
}

.flex-container > div > img {
  width: 60%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsiveleft {
  float: left;
}

@media screen and (max-width: 500px) {
  .responsiveleft {
  float: none;
}
}